<html>
    <head></head>
    <body>
        <h1>List of pets</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Birthdate</th>
                    <th>image</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0, length = pets.length; i < length; i++) { %>
                    <tr>
                        <td><%= pets[i].name %></td>
                        <td><%= pets[i].city %></td>
                        <td><%= pets[i].birthdate %></td>
                        <td><%= pets[i].image %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>    
    </body>
</html>